{% extends "page.html" %}

{#{% block subtitle %}Data Catalog (HTML Table Rendition){% endblock %}#}

{% block breadcrumb_content %}
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <h1>{{_('Data Catalog')}}</h1>
      
      <p>{{_('Welcome to the National Data Catalog')}}. {{_('There are several ways you may view and download the data catalog')}}:</p>

      <ul>
        <li>{{_('Use the')}}<a href='/dataset'> {{_('Datasets')}}</a> {{_('to search datasets.')}}{# or browse and filter by publisher or subject.#}</li>
        <li>{{_('Download the complete data catalog in our')}} <a href="/data.json">data.json</a> {{_('or')}} <a href="/data.jsonld">data.jsonld</a> {{_('file, which uses the')}}<a href="http://project-open-data.github.io/schema/"> {{_('Project Open Data Metadata Schema')}}</a>.</li>
        <li>{{_('Scroll down to see a list of datasets in the catalog with the most recently updated datesets listed first.')}}</li>
      </ul>

      <hr style="margin: 1.5em 0">
	
      <table>
      {% for item in c.catalog_data %}
        <tr>
          <td>
            <p style="font-weight: bold"><a href="{{item.landingPage}}">{{item.title}}</a></p>
            <div style="margin-left: 2em">
              <p>{{item.description}}</p>
              <p>
                {% if item.accessURL %}<a href="{{item.accessURL}}">{{item.accessURL}}</a><br>{% endif %}
                {{_('Last Modified:')}} {% if item.modified %}{{item.modified}}{% else %}{{_('unknown')}}{% endif %}<br>
              </p>
            </div>
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
